// color
$color-sub: #808695;  //辅助色
$color-primary: #5cadff; 
$color-title:#17233d; //标题色
$color-content:#515a6e; //正文色
$color-warning: #ff9900; //警告色
// bg
$bg-white:#f8f8f9;

// 边框颜色
$color-border: #dcdee2;